<div id="content">
  <h1 class="text-white text-center">{{player}</h1>
  <div class="d-flex flex-row justify-content-center">
    <div class="bg-danger">
      <h3>WINRATIO</h3>
      <p>wins - / loses - </p>
    </div>
    <div class="bg-success">
      <h3>GAMES</h3>
      <ul>
        <li>hra</li>
        <li>hra</li>
        <li>hra</li>
      </ul>
    </div>
    <div class=" bg-white">
      <h3>TOP 10</h3>
      <table class="table table-dark table-striped text-light table-hover">
        <thead>
        <tr>
          <th scope="col">Position</th>
          <th scope="col">Name</th>
          <th scope="col">ELO</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>300</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>200</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Jacob</td>
          <td>100</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
