<br>
<br>
<br>
<br>
<br>
<br>

<div class="d-flex justify-content-center mb-5 align-items-center">
  <form class="p-5  p-3 mb-5 bg-white d-flex justify-content-center flex-column">
    <img class="mb-4" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal  text-center">Registration</h1>
    <label for="inputEmail" class="visually-hidden">Nickname</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Nickname">
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Accept dis :)
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-secondary" type="submit">Register</button>
  </form>
</div>

