<div id="content">
  <h1 class="text-white nadpis">{{username}}</h1>
  <h2 class="text-white nadpis">ELO: {{points}}</h2>
  <h3 class="text-white nadpis">ID: {{id}}</h3>
  <button (click)="challenge()" class="bg-primary border-dark rounded">Challenge gamer</button>
  <div class="d-flex flex-row justify-content-center container">
    <div class="colonka">
      <h2>WINRATIO</h2>
      <p>wins - / loses - </p>
    </div>
    <div class="colonka">
      <h2>GAMES</h2>
      <ul>
        <li>hra</li>
        <li>hra</li>
        <li>hra</li>
      </ul>
    </div>
  </div>
</div>
