<div class="w-25 mx-auto mt-5">

  <form class="bg-dark p-5 rounded d-flex flex-column">

    <h1 class="mb-4 text-primary text-center">Login</h1>

    <label for="inputNick" class="text-secondary pointer-write">Username</label>
    <input name="nickname" [(ngModel)]="nickname" type="text" id="inputNick"
           class="form-control bg-transparent border-primary border-left-0 border-right-0 border-top-0 text-white rounded-0"
           placeholder="Username">

    <label for="inputPassword" class="text-secondary">Password</label>
    <input name="password" [(ngModel)]="password" type="password" id="inputPassword"
           class="form-control bg-transparent border-primary border-left-0 border-right-0 border-top-0 text-white rounded-0"
           placeholder="Password">

    <button (click)="logUser()" class="bg-secondary border-0 px-1 py-2 w-50 rounded linkHover mx-auto mt-4" type="submit">
      Login
    </button>
  </form>

</div>
