<div>
  <h1 class="text-light text-center">TOP TEN PLAYERS</h1>
  <table class="table table-dark table-striped text-light table-hover">
    <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Name</th>
      <th scope="col">ELO</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>300</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>200</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Jacob</td>
      <td>100</td>
    </tr>
    </tbody>
  </table>
</div>
