<section class="overflow-hidden">
  <h2 class="display-4 text-center mt-5 mb-3 text-primary font-weight-bold">PLS REPORT</h2>

  <div class="row text-center border-top border-bottom border-primary p-4 d-flex justify-content-center">

    <div class="bg-light w-25 rounded ml-3">
      <img src="../../assets/honza.jpg" alt="Honza"/>
      <div class="card-body text-secondary">
        <h4 class="card-title text-primary">Honza</h4>
        <p class="card-text">Chcete si vybrat koně a nemůžete ? <br/> Stěžujte si na Honzu!</p>
      </div>
      <div class="py-4">
        <a class="bg-secondary p-3 rounded linkHover text-decoration-none">Blame &raquo;</a>
      </div>
    </div>

    <div class="bg-light w-25 rounded ml-3">
      <img src="../../assets/pavel.png" alt="Pavel"/>
      <div class="card-body text-secondary">
        <h4 class="card-title text-primary">Pavel</h4>
        <p class="card-text">Smazal se vám účet ? <br/> Stěžujte si na Pavla!</p>
      </div>
      <div class="py-4">
        <a class="bg-secondary p-3 rounded linkHover text-decoration-none">Blame &raquo;</a>
      </div>
    </div>

    <div class="bg-light w-25 rounded ml-3">
      <img src="../../assets/karel.png" alt="Karl"/>
      <div class="card-body text-secondary">
        <h4 class="card-title text-primary">Karel</h4>
        <p class="card-text">nejde se vám přihlásit nebo se vám ztránka nelíbí ? <br/> Stěžujte si na Karla!</p>
      </div>
      <div class="py-4">
        <a class="bg-secondary p-3 rounded linkHover text-decoration-none">Blame &raquo;</a>
      </div>
    </div>

  </div>
</section>
