@import 'src/scss/color-variables';

div {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.a {
  box-shadow: 1px 1px 15px 5px $danger;
  padding: 0 30px;

}

.s {
  box-shadow: 1px 1px 15px 5px $success;
  padding: 0 30px;
}

.idle {
  box-shadow: 1px 1px 15px 5px $secondary;
}
