<nav class="navbar navbar-expand-lg bg-dark">
  <div class="collapse navbar-collapse pt-2">

    <a class="navbar-brand linkHover" routerLink="home"><h2><i class="fas fa-chess-knight"></i>CHËZ</h2></a>

    <ul class="navbar-nav mr-auto d-flex">

      <li class="nav-item">
        <a class="nav-link linkHover" routerLink="dashboard"><h5>Dashboard</h5></a>
      </li>

      <li class="nav-item">
        <a class="nav-link linkHover" routerLink="game"><h5>Game</h5></a>
      </li>

      <li class="nav-item">
        <a class="nav-link linkHover" routerLink="users"><h5>Users</h5></a>
      </li>

      <li class="nav-item">
        <a class="nav-link linkHover" routerLink="lidlboard"><h5>Leaderboard</h5></a>
      </li>
    </ul>

    <form *ngIf="user == null" class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li>
          <a class="nav-link linkHover" routerLink="login"><h5>Login</h5></a>
        </li>
        <li>
          <h5 class="nav-link linkHover" (click)="log()">break in</h5>
        </li>
        <li>
          <a class="nav-link linkHover" routerLink="register"><h5>Register</h5></a>
        </li>
      </ul>
    </form>

    <div *ngIf="user != null" class="form-inline my-2 my-lg-0">
      <h5 class="nav-link linkHover" (click)="goToUser()"><i class="far fa-user"></i> {{user.username}}</h5>
    </div>

  </div>
</nav>
