/* You can add global styles to this file, and also import other style files */

@import 'scss/color-variables';
@import 'scss/override-bootstrap';

@font-face {
  font-family: banschrift;
  src: url("assets/bahnschrift.ttf");
}

* {
  font-family: banschrift, serif;
}

body {
  background-color: $darkest;
}


.pointer-select {
  cursor: pointer;
}

.pointer-write {
  cursor: text;
}

.linkHover {
  color: $white !important;
}

.linkHover:hover {
  color: $primary !important;
}

.tableHover {
  color: $secondary;
}

.tableHover:hover {
  color: $primary !important;
}

.scaleHover:hover {
  transform: scale(1.1);
}

.checkbox {
  display: none;
}

#registerCheckVis {
  width: 20px;
  height: 20px;
  background-color: $light;
  border: 1px solid $primary;
}

#funbox:checked + #registerCheckVis {
  background-color: $success;
}

.shadowedText {
  text-shadow: 1px 1px 1px $primary;
}
