/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body{
  background-color: #1a1a1a;
  font-family: Bahnschrift;
}

.pointer {
  cursor: crosshair;
}

.center-wrapper {
  margin: 50px 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

tr th {
  width: 40%;
}
