@import 'src/scss/color-variables';


td {
  width: 90px;
  height: 90px;
  text-align: center;
  font-size: 3.5em;
}

tr:nth-child(odd) {
  td:nth-child(odd) {
    background: $light;
  }

  td:nth-child(even) {
    background: $white;
  }
}
tr:nth-child(even) {
  td:nth-child(even) {
    background: $light;
  }

  td:nth-child(odd) {
    background: $white;
  }
}

tr:nth-child(1) {
  td:nth-child(1) {
    border-radius: 25px 0 0 0;
  }

  td:last-child {
    border-radius: 0 25px 0 0;
  }
}
tr:last-child {
  td:nth-child(1) {
    border-radius: 0 0 0 25px;
  }

  td:last-child {
    border-radius: 0 0 25px 0;
  }
}

.board {
  padding: 20px;
  border-radius: 5%;
  border: 2px solid $primary;
  background-color: $dark;
  box-shadow: inset 0 0 25px 0 $secondary;

}

.black-piece{
  color: $secondary;
}

.white-piece{
  color: $danger;
}

.selected-tile{
  background-color: #f3df57 !important;
}
