<div class="center-wrapper">
  <h1 class="text-light text-center pt-2">Challenge</h1>
  <table class="table table-dark table-striped text-light table-hover">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Challenger</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let challenge of challenges" class="pointer">
      <th scope="row">{{challenge.id}}</th>
      <td>{{challenge.challenger.username}}</td>
      <td (click)="accept(challenge.id)">{{challenge.accepted}}</td>
    </tr>
    </tbody>
  </table>

  <h1 class="text-light text-center pt-5">Games</h1>
  <table class="table table-dark table-striped text-light table-hover">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Player 1</th>
      <th scope="col">Player 2</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let game of games" class="pointer">
      <th scope="row">{{game.id}}</th>
      <td>{{game.user1.username}}</td>
      <td>{{game.user2.username}}</td>
    </tr>
    </tbody>
  </table>
</div>
